<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Public/Css/LoginSignup.css">
    <title>Story Sprite [ Login / Signup ]</title>
</head>
<body>
    <div class="main-container">
        <div class="login-container">
            <div class="left-container"></div>
            <div class="right-container">
                <h1>Login</h1>
                <p>Don't have an account yet? <button id="signup-page-direct-btn">Signup</button></p>
                <form action="/login" method="post">
                    <label for="userInput">Email address | Username *</label>
                    <input 
                        type="text" 
                        name="userInput"
                        id="userInput"
                        placeholder="emailAddress@gmail.com | username"
                    />
                    <label for="password">Password *</label>
                    <input 
                        type="password" 
                        name="password"
                        id="password"
                        placeholder="Enter 6 characters or more"
                    />
                    <span class="error" style="display: none;"></span>
                    <a href="/forget-password">Forget Password?</a>
                    <button type="submit">Login</button>
                </form>
                <div class="login-option">
                    <div class="msg-container">
                        <span class="line"></span>
                        <span>Or login with</span>
                        <span class="line"></span>
                    </div>
                    <div class="options">
                        <a href="/google">
                            <img src="/Public/Images/google-icon.png" alt="" height="30">
                            <span>Google</span>
                        </a>
                        <a href="/facebook">
                            <img src="/Public/Images/facebook-icon.jpg" alt="" height="20" style="margin-right: 3px;">
                            <span>Facebook</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="signup-container" style="display: none;">
            <div class="left-container"></div>
            <div class="right-container">
                <h1>Signup</h1>
                <p>already have an account? <button id="login-page-direct-btn">Login</button></p>
                <form action="/login" method="post">
                    <label for="username">Username *</label>
                    <input 
                        type="text" 
                        name="username"
                        id="username"
                        placeholder="Enter Username"
                    />
                    <label for="fullName">Full Name *</label>
                    <input 
                        type="text" 
                        name="fullName"
                        id="fullName"
                        placeholder="Enter Your Name Here"
                    />
                    <label for="emailAddress">Email Addresss *</label>
                    <input 
                        type="email" 
                        name="emailAddress"
                        id="emailAddress"
                        placeholder="example@gmail.com"
                    />
                    <label for="password">Password *</label>
                    <input 
                        type="password" 
                        name="password"
                        id="password"
                        placeholder="Enter 6 characters or more"
                    />
                    <span class="error" style="display: none;"></span>
                    <button type="submit">Signup</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/Public/JS/LoginSignup.js"></script>
</body>
</html>