*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-container{
    display: flex;
    flex: 1;
}

.friend-list{
    width: 300px;
    height: 600px;
    padding: 0 10px;
    box-shadow: 0 0 10px black;
}

.friend-list form{
    width: 100%;
    display: flex;
}

.friend-list form input{
    height: 40px;
    flex: 1;
    background: transparent;
    outline: none;
    border: 2px solid #1111;
    padding: 0 10px;
    border-radius: 10px 0 0 10px;
    border-right: none;
    background: gainsboro;
}

.friend-list form button{
    padding: 5px;
    background: transparent;
    outline: none;
    border-left: none;
    cursor: pointer;
    border: 2px solid #1111;
    border-radius: 0 10px 10px 0;
    background: gainsboro;
}

#friendList{
    width: 300px;
    height: 550px;
    padding: 20px;
    overflow-x: hidden;
    overflow-y:scroll;
    scrollbar-width: none;
}

.friend{
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color .3s;
}

.friend:hover {
    background-color: #e0e0e0;
}

.chat-messages-container {
    display: flex;
    flex-direction: column;
    padding: 20px;

}

.chat-messages {
    width: 1000px;
    flex: 1;
    margin-left: 10px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: none; 
}

.active {
    display: block;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.message.friend {
    background-color: #e2e2e2;
    align-self: flex-start;
}

.message.me {
    background-color: #dcf8c6;
    align-self: flex-end;
}

.message .sender {
    font-weight: bold;
    color: #333;
}

.message .message-body {
    margin-top: 5px;
}

.input-container {
    display: flex;
    margin-top: 20px;
}

.input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.input-container button[type="submit"] {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.user{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.user img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid black;
}

.user h3{
    font-size: 15px;
    margin-left: 5px;
    color: hotpink;
    text-decoration: underline;
}